 #contact{
    padding:10px 0 10px;
  }
  
  body {
	  background-image: radial-gradient(circle at 35.48% 70.74%, #4684f6 0, #f1ff6a 25%, #acc3ef 50%, #052f80 75%, #4d535d 100%);
  }

  #container1 {background-color: ghostwhite;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-width: 20px;}

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */
 
  .titulo1{
   font-size:30px;
   font-style: italic;
   text-align: center;
   padding: 1px;   
  }
  
  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

th, td {
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 25px;
  padding-right: 32px;
}

h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

.container {
	max-width:100%;
	width:90%;
	margin-top: 20px;
    margin-left: 75px;
    margin-right: 10px;
	margin-bottom: 10px;
	position:relative;
}

.bloque1{
	width:100%;
	height:500px;
	margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
	margin-bottom: 10px;
    border-bottom-width: 10px;
	background-image: radial-gradient(circle at 14.43% 7.61%, #fffeff 0, #fff3ff 12.5%, #ffe7ff 25%, #fbd9f4 37.5%, #e0cadf 50%, #c7bbc9 62.5%, #b2acb5 75%, #a1a0a3 87.5%, #939492 100%);
	
}
 section {
   padding: 60px 0;
 }


 section {
   width: 100%;
   display: inline-block;
   background: #ccc;
   height: 60vh;
   text-align: center;
   font-size: 22px;
   font-weight: 700;
   text-decoration: underline;
 }

 .footer-distributed {
   background-image: radial-gradient(circle at 35.48% 70.74%, #eef30d 0, #093de7 25%, #070254 50%, #7f8d03 75%, #1d6bed 100%);
   box-shadow: 0 1px 1px 0 rgb(0 0 0 / 12%);
   box-sizing: border-box;
   width: 97.7%;
   margin-left: 20px;
   text-align: left;
   font: normal 16px sans-serif;
   padding: 45px 50px;
 }

 .footer-distributed .footer-left p {
   color: #8f9296;
   font-size: 14px;
   margin: 0;
 }
 /* Footer links */

 .footer-distributed p.footer-links {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   margin: 0 0 10px;
   padding: 0;
   transition: ease .25s;
 }

 .footer-distributed p.footer-links a {
   display: inline-block;
   line-height: 1.8;
   text-decoration: none;
   color: inherit;
   transition: ease .25s;
 }

 .footer-distributed .footer-links a:before {
   content: "·";
   font-size: 20px;
   left: 0;
   color: #fff;
   display: inline-block;
   padding-right: 5px;
 }

 .footer-distributed .footer-links .link-1:before {
   content: none;
 }

 .footer-distributed .footer-right {
   float: right;
   margin-top: 6px;
   max-width: 180px;
 }

 .footer-distributed .footer-right a {
   display: inline-block;
   width: 35px;
   height: 35px;
   background-color: #e3e8eb;
   border-radius: 2px;
   font-size: 20px;
   color: #060505;
   text-align: center;
   line-height: 35px;
   margin-left: 3px;
   transition: all .25s;
 }

 .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

 .footer-distributed p.footer-links a:hover{text-decoration:underline;}

 /* Media Queries */

 @media (max-width: 600px) {
   .footer-distributed .footer-left, .footer-distributed .footer-right {
     text-align: center;
   }
   .footer-distributed .footer-right {
     float: none;
     margin: 0 auto 20px;
   }
   .footer-distributed .footer-left p.footer-links {
     line-height: 1.8;
   }
 }
